img {
    width: 100px;
    height: 100px;
}

.UVgood {
   color: green;
   font-weight: bolder; 
}

.UVmoderate {
    color: yellow;
    font-weight: bolder;
}

.UVsevere {
    color: red;
    font-weight: bolder;
}

